/* Links */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">);
@import url(<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">);

/* dufault Css */
* {
    margin: 0;
    padding: 0;
}

/* Header Css */
.header {
    margin: 50px 140px 80px 140px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-sections {
    justify-content: center;
    padding: 177px 344px 177px 344px;
}

.first-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.main-title {
    width: 632px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Main Section */
main {
    margin: 70px 140px;
}

/* Discount section */
.discount-section {
    text-align: center;
    font-family: Inter;
    margin-bottom: 80px;
}

.discount-num {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding: 48px;
}

.discount-paragraph {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.discount-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.discount-img {
    width: 802.9px;
    height: 500px;
}

/* Party Sections */
.party-sections {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    font-family: Merriweather;
    border-radius: 16px;
    margin-bottom: 120px;
}

.party-body {
    padding: 126px 126px 142px 126px;
}

.party-tytle {
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-bottom: 24px;

}

.party-paragraph {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 24px;
}

.primary-btn {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: none;
}

/* Place & Time */
.palace-time {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    font-family: Inter;
    margin-bottom: 120px;
}
.place-body{
    padding: 100px 385px ;
}

.place-details {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place-title{
    color: #F00;
}
.place-button{
    
    margin-top: 48px;
}